@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}

ul, ol, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: #111111;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
  display: block;
}

/* Pretendard 폰트 정의 (굵기별) */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local("Pretendard"), url("../font/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard"), url("../font/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: local("Pretendard"), url("../font/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: local("Pretendard"), url("../font/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local("Pretendard"), url("../font/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Aonic";
  src: local("Aonic"), url("../font/Aonic-Medium.ttf") format("opentype");
}
body {
  font-family: "Pretendard", sans-serif;
}
body header {
  width: 100%;
  height: 72px;
  margin-bottom: 32px;
}
body header nav {
  position: fixed;
  width: 100%;
  height: 72px;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
}
body header nav .container {
  width: 100%;
  height: 100%;
  max-width: 1540px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(17, 17, 17);
}
body header nav .container .menu-btn {
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
body header nav .container .menu-btn .bar {
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: rgb(17, 17, 17);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
body header nav .container .menu-btn .bar:nth-child(1) {
  transform: translateY(-4px);
}
body header nav .container .menu-btn .bar:nth-child(2) {
  transform: translateY(4px);
}
body header nav .container .menu-btn.active .bar:nth-child(1) {
  transform: rotate(45deg);
}
body header nav .container .menu-btn.active .bar:nth-child(2) {
  transform: rotate(-45deg);
}
body header nav .container .logo .logo-wrapper {
  width: 128px;
  font-family: "Aonic";
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 38px;
  color: rgb(17, 17, 17);
}
body header nav .container .logo #logoText {
  display: inline-block;
  letter-spacing: -0.5px;
  color: rgb(18, 28, 168);
}
body header nav .container #clock {
  width: 130px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgb(17, 17, 17);
}
body .menu-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 1540px;
  height: 25vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
  display: flex;
}
body .menu-overlay ul {
  margin-top: 70px;
  list-style: none;
  text-align: center;
}
body .menu-overlay ul li {
  margin: 16px 0px;
}
body .menu-overlay ul li a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 16px;
  line-height: 24px;
}
body .menu-overlay ul li a:hover {
  color: rgb(118, 118, 118);
}
body .menu-overlay.active {
  opacity: 1;
  pointer-events: auto;
}/*# sourceMappingURL=detail.css.map */