@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}

ul, ol, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: #111111;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
  display: block;
}

/* Pretendard 폰트 정의 (굵기별) */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local("Pretendard"), url("../font/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard"), url("../font/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: local("Pretendard"), url("../font/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: local("Pretendard"), url("../font/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local("Pretendard"), url("../font/Pretendard-Bold.otf") format("opentype");
}
body {
  /* 텍스트 스타일은 자유롭게 */
  font-family: "Pretendard", sans-serif;
}
body #loading {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition: opacity 1s ease;
}
body #loading span {
  font-size: 20px;
}
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body header {
  width: 100%;
  height: 56px;
  margin-bottom: 28px;
}
body header nav {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
}
body header nav .container {
  width: 100%;
  height: 100%;
  max-width: 1540px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(17, 17, 17);
}
body header nav .container .menu-btn {
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
body header nav .container .menu-btn .bar {
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: rgb(17, 17, 17);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
body header nav .container .menu-btn .bar:nth-child(1) {
  transform: translateY(-4px);
}
body header nav .container .menu-btn .bar:nth-child(2) {
  transform: translateY(4px);
}
body header nav .container .menu-btn.active .bar:nth-child(1) {
  transform: rotate(45deg);
}
body header nav .container .menu-btn.active .bar:nth-child(2) {
  transform: rotate(-45deg);
}
body header nav .container .phone .glitch-wrapper {
  width: 120px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  color: rgb(17, 17, 17);
}
body header nav .container .phone #glitchText {
  display: inline-block;
  letter-spacing: -0.5px;
  color: rgb(20, 31, 187);
}
body header nav .container #clock {
  width: 120px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgb(17, 17, 17);
}
body .menu-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 1540px;
  height: 25vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
  display: flex;
}
body .menu-overlay ul {
  margin-top: 48px;
  list-style: none;
  text-align: center;
}
body .menu-overlay ul li {
  margin: 16px 0px;
}
body .menu-overlay ul li a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 16px;
  line-height: 24px;
}
body .menu-overlay ul li a:hover {
  color: rgb(118, 118, 118);
}
body .menu-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
body main {
  width: 100%;
  height: 100%;
}
body main .container {
  width: 100%;
  height: 100%;
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
body main .container .main-menu .main-box {
  display: none;
  opacity: 0;
}
body main .container .main-menu .main-box.active {
  display: block;
}
body main .container .main-menu .main-box .mbox1 {
  margin-bottom: 70px;
}
body main .container .main-menu .main-box .mbox1 .mbox-link {
  text-decoration: none;
  width: 1165px;
}
body main .container .main-menu .main-box .mbox1 .mbox-link .mbox {
  position: relative;
  width: 1161px;
  height: 608px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
body main .container .main-menu .main-box .mbox1 .mbox-link .mbox img {
  width: 100%;
  height: cover;
}
body main .container .main-menu .main-box .mbox1 .mbox-link .mbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
body main .container .main-menu .main-box .mbox1 .mbox-link .mbox .overlay .overlay-number {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 16px;
  text-align: center;
  border-radius: 100%;
}
body main .container .main-menu .main-box .mbox1 .mbox-link .mbox .overlay .overlay-number p {
  color: rgb(17, 17, 17);
  font-size: 14px;
  font-weight: bold;
}
body main .container .main-menu .main-box .mbox1 .mbox-link .mbox:hover .overlay {
  opacity: 1;
}
body main .container .main-menu .main-box .mbox1 .mbox1-text-box {
  display: flex;
  align-items: end;
  margin-top: 12px;
}
body main .container .main-menu .main-box .mbox1 .mbox1-text-box a {
  font-size: 24px;
  line-height: 34px;
  font-weight: 900;
  color: rgb(17, 17, 17);
  margin-right: 10px;
}
body main .container .main-menu .main-box .mbox1 .mbox1-text-box p {
  font-size: 14px;
  line-height: 20px;
  color: rgb(118, 118, 118);
}
body main .container .main-menu .main-box .mbox1 .mbox1-text {
  margin-top: 6px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgb(118, 118, 118);
}
body main .container .main-menu .main-box {
  width: 1205px;
  height: 100vh;
}
body main .container .main-menu .dummies {
  height: 70px;
}
body main .container .main-menu .main-box3 .mbox {
  width: 1161px;
  height: 608px;
}
body main .container .main-menu .main-box3 .mbox video {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .container .right-menu {
  height: 100vh;
}
body main .container .right-menu .right-box {
  position: fixed;
  width: 338px;
  height: 100%;
  overflow-y: auto;
  padding-right: 12px;
}
body main .container .right-menu .right-box h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  color: rgb(17, 17, 17);
  margin-bottom: 16px;
}
body main .container .right-menu .right-box .left-button {
  width: 294px;
  text-align: left;
  margin-bottom: 40px;
}
body main .container .right-menu .right-box .left-button div {
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
body main .container .right-menu .right-box .left-button div p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgb(153, 153, 153);
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 6px;
}
body main .container .right-menu .right-box .left-button div.active p {
  color: rgb(17, 17, 17);
}
body main .container .right-menu .right-box .left-button .left-button-first {
  border-top: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .left-button .left-button-middle {
  border-top: 1px solid rgb(118, 118, 118);
  border-bottom: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .left-button .left-button-last {
  border-bottom: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .works h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  color: rgb(17, 17, 17);
  margin-bottom: 16px;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner {
  width: 294px;
  height: 48px;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner .first-a {
  border-top: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .works .works-box .works-box-inner .last-a {
  border-top: 1px solid rgb(118, 118, 118);
  border-bottom: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .works .works-box .works-box-inner a {
  padding-left: 6px;
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner a p {
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: rgb(118, 118, 118);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner a p .slide-text {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(0);
  transition: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner a:hover {
  font-weight: 600;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner a:hover p .slide-text {
  overflow: visible;
  text-overflow: unset;
  animation: scroll-text 6s linear forwards;
}
body main .container .right-menu .right-box .works .works-box .works-box-inner a:not(:hover) p .slide-text {
  animation: none;
  transform: translateX(0);
  overflow: hidden;
  text-overflow: ellipsis;
}
@keyframes scroll-text {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
body main .container .right-menu .right-box .works .more {
  width: 72px;
  margin-top: 16px;
  margin-bottom: 40px;
}
body main .container .right-menu .right-box .works .more p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(118, 118, 118);
}
body main .container .right-menu .right-box .works .more .icon-box {
  width: 16px;
  height: 16px;
}
body main .container .right-menu .right-box .works .more .icon-box img {
  width: 100%;
}
body main .container .right-menu .right-box .about h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  color: rgb(17, 17, 17);
  margin-bottom: 16px;
  margin-top: 40px;
}
body main .container .right-menu .right-box .about .about-box {
  display: flex;
  width: 294px;
  height: 180px;
  align-items: center;
  border-top: 1px solid rgb(118, 118, 118);
  border-bottom: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .about .about-box .about-img {
  width: 100px;
  height: 140px;
  margin-right: 16px;
  background-color: rgb(188, 201, 197);
}
body main .container .right-menu .right-box .about .about-box .about-img img {
  width: 100%;
}
body main .container .right-menu .right-box .about .about-box .about-text li p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(17, 17, 17);
}
body main .container .right-menu .right-box .about .about-box .about-text li .about-date {
  color: rgb(118, 118, 118);
}
body main .container .right-menu .right-box .about .about-box .about-text .about1 {
  margin-bottom: 20px;
}
body main .container .right-menu .right-box .about .about-box .about-text .about3 {
  margin-top: 4px;
}
body main .container .right-menu .right-box .about .more {
  width: 72px;
  margin-top: 16px;
  margin-bottom: 40px;
}
body main .container .right-menu .right-box .about .more p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(118, 118, 118);
}
body main .container .right-menu .right-box .contact h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  color: rgb(17, 17, 17);
  margin-bottom: 16px;
}
body main .container .right-menu .right-box .contact .contact-box {
  width: 294px;
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner .c1 {
  display: flex;
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner .c1 a {
  margin-left: 12px;
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner .c1 a:hover {
  color: c;
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner .contact-img-box {
  width: 28px;
  height: 28px;
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner .contact-img-box img {
  width: 100%;
}
body main .container .right-menu .right-box .contact .contact-box .contact-inner2 {
  border-top: 1px solid rgb(118, 118, 118);
  border-bottom: 1px solid rgb(118, 118, 118);
}
body main .container .right-menu .right-box .contact .contact-box .sns {
  display: flex;
}
body main .container .right-menu .right-box .contact .contact-box .sns a {
  margin-top: 16px;
}
body main .container .right-menu .right-box .contact .contact-box .sns a img {
  margin-bottom: 8px;
  margin-right: 6px;
  width: 28px;
  height: 28px;
}
body main .container .right-menu .right-box .dummies {
  height: 200px;
}/*# sourceMappingURL=index.css.map */