* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $title-16;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: $color-1111;
}

ul,ol,li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: $color-1111;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1 {
    font-size: $title-24;
}

h2 {
    font-size: $title-20;
}

p {
    font-size: $title-16;
}

strong {
    display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
    display: block;
}