$color-white: rgb(255, 255, 255);
$color-1111: rgb(17, 17, 17);
$color-5050: rgb(80, 80, 80);
$color-7676: rgb(118, 118, 118);
$color-9999: rgb(153, 153, 153);
////////////////////////////////////
$title-56: 56px;
$title-24: 24px;
$title-20: 20px;
$title-16: 16px;
$title-14: 14px;
////////////////////////////////////
$margin-70: 70px;
$margin-56: 56px;
$margin-40: 40px;
$margin-24: 24px;
$margin-16: 16px;
$margin-12: 12px;
///////////////////////////////////
$button-height-32: 32px; 