$color-white: rgb(255, 255, 255);
$color-1111: rgb(17, 17, 17);
$color-5050: rgb(80, 80, 80);
$color-7676: rgb(118, 118, 118);
$color-9999: rgb(153, 153, 153);
$title: 16px;
$dd: 70px;
$ddd: 24px;
$dddd: 56px;
$ddddd: 12px;
$dddddd: 16px;
$ddddddd: 40px;